.right-toast-custom {
  background-color: orange;
  color: white;
  font-size: 16px;
  border-radius: 8px;
  padding: 12px 20px;
}

.left-toast-custom {
  background-color: green;
  color: white;
  font-size: 16px;
  border-radius: 8px;
  padding: 12px 20px;
}